<header>
    <nav class="flex mx-auto justify-between bg-green-600 p-6 text-white">
       <div class="flex">
        <p class="text-xl font-bold">Bikker</p>
       </div>

   
        <ul class="flex gap-8">
            @if(loggIn){
                <li>Home</li>
                <li>Rents</li>
                <li>Bikes</li>
                <li>Log out</li>
            }
            @else{
                <li><a routerLink="/register">Sign up</a></li>
                <li><a routerLink="/login">Log in</a></li>
            }
            
        </ul>
    </nav>
</header>
