<main class="flex bg-gray-300 overflow-hidden" style="height: calc(100vh - 5rem);">
    <div class="flex flex-col m-auto h-[80%] w-[35%] bg-white rounded-xl  mx-auto content-center justify-around py-20">
        <div class="mx-auto ">
            <h1 class="text-5xl font-bold">Bikker</h1>
        </div>
        <div class="flex flex-col mx-auto gap-8">
            <form  [formGroup]="logInForm" class="flex flex-col gap-4" >
                <input 
                id="log-in-email"
                name="email"
                type="email" 
                required
                formControlName="email"
                class="py-2 bg-white border-2 rounded-xl placeholder:pl-2  focus:bg-gray-300"
                [ngClass]="{
                    'border-red-600': email?.invalid && email?.touched,
                    'border-green-600': email?.valid && email?.touched
                  }"
                placeholder="email">

                <input 
                id="log-in-password"
                name="password"
                type="password" 
                required
                formControlName="password"
                class="py-2 bg-white border-2 rounded-xl placeholder:pl-2   focus:bg-gray-300"
                [ngClass]="{
                    'border-red-600': password?.invalid && password?.touched,
                    'border-green-600': password?.valid && password?.touched
                  }"
                placeholder="password"
                minlength="8"
                >

                @if(password?.invalid && (password?.dirty || password?.touched)){
                    <!-- @if(password?.errors?.['required']){
                        <p>password is required</p>
                    } -->
                }

            </form>
            <button [disabled]="!logInForm.valid" 
            (click) = "logIn()" 
            [ngClass]="!logInForm.valid ? 'border-2 bg-green-600 p-4 rounded-xl': 'border-2 bg-green-600 p-4 rounded-xl hover:bg-white hover:text-green-600 hover:border-green-600'"
            >Log in</button>
            <p> do you not have an account? <a routerLink="/register">Sign Up</a></p>   
        </div>
          
    </div>
</main>
